# Для включения нужного логгера нужно поменять значение LOGGER (dev, json, tskv)
# Чтобы переключиться на другую базу данных, нужно раскомментировать код переменных среды нужной БД
# DATABASE_DRIVER="mongodb"
# DATABASE_URL="localhost"
# DATABASE_PORT=27017
# DATABASE_USERNAME=""
# DATABASE_PASSWORD=""
# DATABASE_NAME="afisha"
# DEBUG=*
DATABASE_DRIVER="postgres"
DATABASE_URL="localhost"
DATABASE_PORT=5432
DATABASE_USERNAME="prac"
DATABASE_PASSWORD="prac"
DATABASE_NAME="prac"
DEBUG=*
LOGGER="tskv"