name: Publish Docker images

on:
    push:
      branches:
        - review-3
    pull_request:
      branches:
        - review-3
        - main

jobs:
    push_to_registry:
        name: Push Docker image to GHCR
        runs-on: ubuntu-latest
        steps:
            - name: Check out the repo
              uses: actions/checkout@v4

            - name: Log in to Docker Hub
              uses: docker/login-action@v3
              with:
                registry: ghcr.io
                username: ${{ github.actor }}
                password: ${{ secrets.GHCR_TOKEN }}
              
            - name: Set up Docker Buildx
              uses: docker/setup-buildx-action@v3

            - name: Cache Docker layers
              uses: actions/cache@v3
              with:
                path: /tmp/.buildx-cache
                key: ${{ runner.os }}-buildx-${{ github.sha }}
                restore-keys: |
                  ${{ runner.os }}-buildx-
            
            - name: Build and push backend image
              uses: docker/build-push-action@v3
              with:
                context: ./backend
                file: ./backend/Dockerfile
                push: true
                tags: ghcr.io/${{ github.repository }}/backend:latest
              
            - name: Build and push frontend image
              uses: docker/build-push-action@v3
              with:
                context: ./frontend
                file: ./frontend/Dockerfile
                push: true
                tags: ghcr.io/${{ github.repository }}/frontend:latest

            - name: Rebuild docker containers
              uses: appleboy/ssh-action@v1.2.0
              with:
                host: ${{ secrets.SSH_HOST }}
                username: ${{ secrets.SSH_USER }}
                key: ${{ secrets.SSH_PRIVATE_KEY }}
                script: |
                  cd film-react-nest
                  sudo docker compose down frontend
                  sudo docker compose down backend
                  sudo docker compose down nginx
                  sudo docker volume rm film-react-nest_frontend_dist
                  git pull origin review-3
                  sudo docker compose up -d frontend
                  sudo docker compose up -d backend
                  sudo docker compose up -d nginx
                  sudo docker ps